<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Prueba Backend - Productos
        </div>
        <div class="card-body">
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Agregar</div>
                Agregar producto
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Actualizar</div>
                Actualizar Producto
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Eliminar</div>
                Eliminar Producto
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Activar</div>
                Activar Producto
              </div>
              <span class="badge bg-primary rounded-pill">Ok</span>
            </li>
          </ol>
          <blockquote class="blockquote mt-5 mb-0">
            <footer class="blockquote-footer"><cite title="Source Title">Ing. Jesús David Muñoz Farfán</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
